
#reguser tr:hover{
	cursor: pointer;
}


/*
Google Maps Style
*/
#gmaps-canvas{
	height: 200px;
}

@media (min-width: 768px) {
	#gmaps-canvas{
		height: 280px;
	}
}

@media (min-width: 992px ) {
	#gmaps-canvas{
		height: 310px;
	}
}